@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/* https://www.w3schools.com/howto/howto_css_sticky_element.asp */

#sidebar-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 25vw;
  height: 75vh;
  margin-left: 4rem;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  
}

#sidebar-container::-webkit-scrollbar {
  display: none;
}

.option {
  width: 80%;
  height: 100%;
  background-color: white;
}

.configtitle {
  width: 90%;
  text-align: left;
  border-bottom: 2px solid black;
}

.configtitle-text {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.2px;
  margin: 0;

}

#option-container {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
}

#option-button {
  padding: 0;
  margin: 4px;
  text-align: center;
  
  
  background-color: white;
  outline: 2px solid black;
  max-width: 100px;
  width: 100px !important;
  height: 100px !important;

}

#option-text {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

